
/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Maven ###
target/
# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

### Gradle ###
.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar